.header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    z-index: 99;
}

.header_child {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.expanding_menu_parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.menu_container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
}

.menu {
    width: 15rem;
    background-color: var(--main-menu-color);
    position: absolute;
    z-index: 9999;
    border-radius: 15px;
    border: 1px var(--hr-color) solid;
    transform-origin: top;
    display: grid;
    gap: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    user-select: none;
    margin-top: .5rem;
    box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
}


.menu-enter {
    opacity: 0;
    transform: scaleY(0.5);
}

.menu-enter-active {
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 150ms, transform 150ms;
}

.menu-exit {
    opacity: 1;
    transform: scaleY(1);
}

.menu-exit-active {
    opacity: 0;
    transform: scaleY(0.5);
    transition: opacity 150ms, transform 150ms;
}

.menu_element {
    padding: .8rem;
    border-radius: 7px;
    background-color: var(--main-menu-color);
    box-shadow: none;
    transform: scale(1);
    transition: background-color 150ms, box-shadow 150ms;
    cursor: pointer;

    color: var(--main-text-color);
    margin: 0;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: .3rem;

    font-weight: 600;
    transform-origin: center;
}

.menu_element:hover {
    background-color: var(--main-element-color);
    transform: scale(1.01);
    box-shadow: #1d2025 1px 1px 5px 0px;
}

.menu_element img {
    width: 1.5rem;
    margin-right: .3rem;
}

.expand_arrow {
    width: 2rem;
    height: auto;
    margin-left: .3rem;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 250ms;
}

.expand_arrow_rotated {
    transform: rotate(180deg);
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: block;
    transition: border 150ms;
    visibility: visible;
}

.placeholders img {
    visibility: hidden;
}

@keyframes plshdrs {

    0%,
    50%,
    100% {
        background-color: var(--main-element-color);
    }

    25%,
    75% {
        background-color: var(--main-card-color);
    }
}

.placeholders {
    animation: plshdrs 2s ease-in-out infinite;
}


.avatar_container {
    border-radius: 15rem;
    border: 3.5px var(--main-card-color) solid;
    cursor: pointer;
    width: 3rem;
    height: 3rem;

    transition: border-color .2s;
}

.login_button {
    color: var(--main-text-color);
    margin: 0;
    border-radius: 30px;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 1.8rem;
    height: auto;
    padding: calc((54px - 28px) / 2);
}


.ppl_name {
    color: var(--main-text-color);
    font-size: 1.3rem;
    margin: 0;
    margin-left: .5rem;
}

.auth_cont {
    display: flex;
}

.unreaded {
    border-color: #1bd96a;
}

.main_icon {
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.main_icon:active {
    transform: scale(.9);
}


@media(max-width: 767px) {
    .ppl_name {
        display: none;
    }

    .login_button {
        font-size: 0;
    }

    .login_button img {
        margin: 0;
    }

    .expand_arrow {
        display: none;
    }

    .menu {
        width: auto;
        left: 1rem;
        right: 1rem;
    }
}