.container {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border-left: 3px transparent solid;
    box-sizing: border-box;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .5rem;
}

.header {
    margin: 0;
    font-size: 1.1rem;
}