body {
	--main-bg-color: #17181c;
	--main-card-color: #262930;
	--main-element-color: #434957;
	--main-action-color: #00ADB5;
	background-color: var(--main-bg-color);
	margin: 0;
	scrollbar-gutter: stable;
	overflow-y: scroll;
	color: white;
	padding-bottom: 1rem;
	color-scheme: dark;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(60, 60, 60);
}

.react-select-container .react-select__control {
	border-radius: 8px;
	background-color: #eeeeee;
	color: #ffffff;
	cursor: pointer;
}

.react-select-container .react-select__control {
	background-color: var(--main-card-color);
	border: 1px solid #404552;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__control:hover {
	border-color: #404552;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__control--is-focused {
	border-color: #404552;
	box-shadow: none;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__control--is-focused:hover {
	border-color: #404552;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__menu {
	background-color: var(--main-element-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	z-index: 9;
}

.react-select-container .react-select__option {
	color: #ffffff;
	background-color: var(--main-element-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__group {
	background-color: var(--main-element-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__group-heading {
	color: #aaaaaa;
	background-color: var(--main-element-color);
	padding-bottom: 0.25em;
	margin-bottom: 0;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__option:hover {
	background-color: var(--main-card-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__option--is-selected {
	background-color: var(--main-element-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__indicator-separator {
	background-color: var(--main-element-color);
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.react-select-container .react-select__input-container,
.react-select-container .react-select__placeholder,
.react-select-container .react-select__single-value {
	color: #ffffff;
	transition-property: border-color, box-shadow, background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

hr {
	border: 1px var(--main-element-color) solid;
}

a {
	color: #ffffff;
	text-decoration: underline;
}