.original_image {
    cursor: pointer;
}

.div {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;

    display: flex;
    backdrop-filter: blur(10px);

    align-items: center;
    justify-content: center;

    animation: anim .1s;
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.div img{
    width: 50%;
    height: auto;
}