.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.main_container a {
    color: rgba(12, 247, 215);
    transition: color 150ms;
}

.main_container a:hover {
    color: rgb(179, 250, 241);
}

.CustomLink {
    color: rgba(12, 247, 215);
    text-decoration: inherit;
}


.back_to_blog {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    opacity: .5;
    font-weight: 300;
    text-decoration: none;
    align-items: center;
    color: var(--main-text-color) !important;

    transition: gap 250ms, margin-left 250ms !important;
}

.back_to_blog:hover {
    gap: .1rem;
    margin-left: .4rem;
}

.back_to_blog_container {
    margin-top: .6rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
}