.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.CustomLink {
    color: rgba(12, 247, 215) !important;
    text-decoration: inherit;
}


.back_to_blog {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    opacity: .5;
    font-weight: 300;
    text-decoration: none;
    align-items: center;

    transition: gap 150ms, margin-left 150ms;

    margin-top: .5rem;
    margin-bottom: 1rem;
}

.back_to_blog:hover {
    gap: .1rem;
    margin-left: .4rem;
}