.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.CustomLink {
    color: rgba(12, 247, 215);
    transition: color 150ms;
}

.CustomLink:hover {
    color: rgb(179, 250, 241);
}

.animated {
    animation: initial_anim .2s;
}

@keyframes initial_anim {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media(max-width: 650px){
    .main_container {
        flex-direction: column;
        align-items: stretch;
    }
}