.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.render_canvas {
    border-radius: 10px;
    border: 1px #434957 solid;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.info_container {
}

.title {
    margin: 0;
}

.description {
    margin-bottom: .3rem;
}

.categories {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.author {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
}

.author img {
    width: 1.5rem;
}

.render_footer {
    width: 100%;
    background-color: #262930;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    border: 1px #434957 solid;
    z-index: 0;
    padding-top: calc(1rem + 10px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skin_parent {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.skin_load {
    border: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.2rem;

    padding: .3rem;
    background-color: #434957;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 150ms;
}

.skin_load:hover {
    background-color:#576074;
}

.skin_load img{
    margin-right: .1rem;
    width: 1.8rem;
}

@media(max-width: 925px){
    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .render_canvas {
        width: 300px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 300px;
    }
    
    .categories {
        max-width: 300px;
    }
}