.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.render_canvas {
    border-radius: 10px;
    border: 1px #434957 solid;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.title {
    margin: 0;
    overflow-wrap: anywhere;
}

.edit_icon {
    width: 1.3rem;
    height: 1.3rem;
    opacity: 0;
    transition: opacity 50ms;
}

.title_editable {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.title_editable:hover .edit_icon {
    opacity: 1;
}

.description {
    margin-bottom: .3rem;
    overflow-wrap: anywhere;
}

.categories {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.author {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
}

.author img {
    width: 1.5rem;
}

.render_footer {
    width: 100%;
    background-color: #262930;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    border: 1px #434957 solid;
    z-index: 0;
    padding-top: calc(1rem + 10px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skin_parent {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.skin_load {
    border: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.2rem;

    padding: .2rem;
    background-color: #434957;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 150ms;
}

.skin_load:hover {
    background-color: #576074;
}

.skin_load img {
    margin-right: .1rem;
    width: 1.8rem;
}

.skin_load_base {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes skinLoad {
    0% {
        transform: translateY(100px) scale(.8);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: translateY(0px) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

.skin_load_container {
    background-color: #262930;
    border-radius: 10px;
    width: 50%;
    animation: skinLoad 250ms;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px #434957 solid;
    gap: .5rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.skin_drop {
    border: 2px #576074 dashed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.hidable span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skin_drop input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.position {
    all: unset;
    writing-mode: vertical-lr;
    appearance: none;
    margin-left: calc(12px - 0.25rem);
    margin-right: calc(12px - 0.25rem);
}

.position::-webkit-slider-runnable-track {
    border: 1px #434957 solid;
    width: 0.5rem;
    border-radius: 5px;
    background: none;
}

.position::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-image: url('../../workshop/[id]/pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -9px;
    touch-action: none;
}


.position::-moz-slider-runnable-track {
    border: 1px #434957 solid;
    width: 0.5rem;
    border-radius: 5px;
}

.position::-moz-slider-thumb {
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-image: url('../../workshop/[id]/pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -9px;
    touch-action: none;
}

.check_notification {
    width: 100%;
    background-color: rgba(255, 255, 0, 0.13);
    padding: 1rem;
    border-radius: 10px;
    border: 1px yellow solid;
    box-sizing: border-box;
    margin-bottom: 1rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.check_notification h3 {
    margin: 0;
}

.check_notification p {
    margin: 0;
    margin-top: .3rem;
}

.settings_slider {
    display: flex;
    gap: .7rem;
}

.settings_slider_1 {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.textarea {
    resize: vertical;
    background-color: #434957;
    border: #434957 1px solid;
    outline: none;
    transition: border 100ms;
    border-radius: 5px;
    font-family: inherit;
}

.textarea:focus {
    border: 1px #717b91 solid;
}

.deleteButton {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    background-color: rgb(175, 22, 22);
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover .binUp {
    top: -2px;
}

.binUp {
    transition: top ease-in-out 0.3s;
    position: relative;
    top: 1%;
}

.binDown {
    position: relative;
    top: 0;
}

@media(max-width: 925px) {
    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .render_canvas {
        width: 300px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 300px;
    }

    .categories {
        width: 300px;
    }

    .skin_load_container {
        width: 90%;
    }
}