.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.render_canvas {
    border-radius: 10px;
    border: 1px var(--main-element-color) solid;
    position: relative;
    z-index: 4;
    width: 400px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
}

.title {
    margin: 0;
    overflow-wrap: anywhere;
}

.edit_icon {
    width: 1.3rem;
    height: 1.3rem;
    transform: scale(1);
    transition: 150ms transform;
    display: none;
}

.title_editable {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.title_editable .edit_icon {
    display: block;
}

.title_editable:hover .edit_icon {
    transform: scale(1.1);
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.description {
    margin: 0;
    margin-bottom: 1rem;
    overflow-wrap: anywhere;
}

.categories {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.author {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
    text-decoration: none;
}

.author:hover {
    text-decoration: underline;
}

.author img {
    width: 1.5rem;
}

.render_footer {
    width: 100%;
    background-color: var(--main-card-color);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    border: 1px var(--main-element-color) solid;
    z-index: 3;
    padding-top: calc(1rem + 10px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skin_parent {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.skin_load {
    border: none;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.2rem;

    padding: .2rem;
    background-color: var(--main-element-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 250ms;

    height: 2.5rem;
}

.skin_load:hover {
    background-color: var(--hr-color);
}

.skin_load img {
    margin-right: .1rem;
    width: 1.8rem;
}

.skin_load_base {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 150ms, transform 150ms;
}


@keyframes skinLoad {
    0% {
        transform: translateY(100px) scale(.8);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: translateY(0px) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

.skin_load_container {
    background-color: var(--main-card-color);
    border-radius: 10px;
    width: 50%;
    /*animation: skinLoad 250ms;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px var(--main-element-color) solid;
    gap: .5rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.disabled_load {
    cursor: default;
}

.disabled_load:hover {
    background-color: var(--main-element-color);
}

.skin_drop {
    border: 2px #576074 dashed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.hidable span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skin_drop input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.check_notification {
    width: 100%;
    background-color: rgba(255, 255, 0, 0.13);
    padding: 1rem;
    border-radius: 10px;
    border: 1px yellow solid;
    box-sizing: border-box;
    margin-bottom: 1rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.check_notification h3 {
    margin: 0;
}

.check_notification p {
    margin: 0;
    margin-top: .3rem;
}

.settings_slider {
    display: flex;
    gap: .7rem;
}

.settings_slider_1 {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.textarea {
    resize: vertical;
    background-color: var(--main-element-color);
    border: var(--main-element-color) 1px solid;
    outline: none;
    transition: border 100ms;
    border-radius: 5px;
    font-family: inherit;
}

.textarea:focus {
    border: 1px var(--focus-color) solid;
}

.deleteButton {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    background-color: rgb(175, 22, 22);
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover .binUp {
    top: -2px;
}

.binUp {
    transition: top ease-in-out 0.3s;
    position: relative;
    top: 1%;
}

.binDown {
    position: relative;
    top: 0;
}

.archiveButton {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 22, 22);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.archiveButton svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: transform 150ms;
}

.archiveButton:hover svg {
    transform: scale(1.05);
}

.username_private:hover {
    text-decoration: none;
}

.bandage_raw_menu {
    position: absolute;
    transform-origin: top;
    transition: opacity 150ms, transform 150ms;
    width: 100%;
    background-color: var(--category-color);
    padding: .6rem;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}


.menu-exit {
    opacity: 1;
}

.menu-exit-bandage-active {
    opacity: 0;
    transform: scaleY(0.5);
    transition: opacity 150ms, transform 150ms;
}

.menu-enter-bandage {
    opacity: 0;
    transform: scaleY(0.5);
}

.menu-enter-bandage-active {
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 150ms, transform 150ms;
}

.adjust_color {
    height: 27px;
    background-color: var(--main-element-color);
    transition: background-color 250ms;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .85rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.adjust_color:hover {
    background-color: var(--hr-color);
}

@media(max-width: 925px) {
    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .render_canvas {
        width: 600px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 600px;
    }

    .skin_load_container {
        width: 90%;
    }
}

@media(max-width: 650px) {
    .adaptive_grid_parent {
        align-items: normal !important;
    }
}

@media(max-width: 670px) {
    .render_canvas {
        width: 400px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 400px;
    }
}

@media(max-width:530px) {
    .render_canvas {
        width: 300px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 300px;
    }
}