

.chrome-picker{
    touch-action: none;
}

h3{
    font-style: normal;
    font-weight: normal;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    margin: 0;
    font-size: 1rem;
}

select{
    border: 1px #949494 solid;
    border-radius: 5px;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: 500;
    width: 100%;
    max-width: 176px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

footer{
    position: absolute;
    bottom: 0;
    width: 75%;
    backdrop-filter: brightness(200%) blur(20px);
    transition: backdrop-filter 0.2s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    z-index: 3;
    color: #ffffff;
}

footer h3{
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: 500;
    font-size: 90%;
    margin: 2px;
}

footer a{
    color: #ffffff;
    transition: background-color 0.1s ease-in-out;
}


body.dark{
    background-color: #0f0f0f;
    transition: background-color 0.2s ease-in-out;
}

footer.dark{
    backdrop-filter: brightness(50%) blur(20px);
    transition: backdrop-filter 0.2s ease-in-out;
    color: #ffffff;
}

footer.dark h3{
    color: #ffffff;
}

input{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

label{
    user-select: none;
}

@media(max-width: 767px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }
    footer{
        width: 100%;
        backdrop-filter: none;
        color: #000000;
        position: relative;
        display: none;
    }
    footer a{
        color: #000000;
    }

    footer.dark{
        backdrop-filter: none;
        position: relative;
    }

    footer.dark a{
        color: #ffffff;
    }
}
