.menu_enter {
    transform: translateX(calc(100% + .7rem));
}

.menu_exit_active {
    transform: translateX(calc(100% + .7rem));
}

.container {
    max-width: 400px;
    background-color: var(--main-action-color);
    padding: .7rem;
    border-radius: 7px;
    position: fixed;
    margin: .5rem;
    margin-bottom: 0;
    z-index: 999;
    right: 0;
    top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transition: transform 400ms;
}

.container p {
    font-size: .9rem;
    margin: 0;
}

.container button {
    background: none;
    border: none;
    cursor: pointer;
    filter: brightness(.9);
    transition: filter 250ms;
}

.container button:hover {
    filter: brightness(1);
}