.CustomLink {
    color: var(--main-action-color);
    transition: color 150ms;
}

.CustomLink:hover {
    color: color-mix(in srgb, var(--main-action-color) 80%, white 20%);
}

.link_cont a {
    color: var(--main-action-color);
    transition: color 150ms;
}

.link_cont a:hover {
    color: color-mix(in srgb, var(--main-action-color) 80%, white 20%);
}