.code_container {
    margin: 0;
    user-select: none;
    margin-top: .5rem;
}

.button {
    color: var(--main-text-color);
    background-color: var(--main-card-color);
    border-radius: 10px;
    border: 1px var(--main-element-color) solid;
    height: 2.4rem;
    box-sizing: border-box;
    cursor: auto;
    transition: background-color 250ms, border 150ms;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.available {
    cursor: pointer;
}

.available:hover {
    background-color: #ED4245;
}

.delete_background {
    background: linear-gradient(180deg, #fd2d3114 0%, #b51e20b3 100%);
}

.archive_background {
    background: linear-gradient(180deg, #b58d1e14 0%, #b58d1eb3 100%);
}