.search_result_container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .4rem;
}

.color {
    color: var(--main-action-color);
}

.p_div .color {
    color: var(--main-text-color);
    font-weight: inherit;
}