.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    padding: .5rem;
    width: 1.5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    user-select: none;
}

.page:hover {
    background-color: var(--main-card-color);
}

.page_loading {
    aspect-ratio: 1;
    cursor: default;
    background-color: var(--main-card-color);
    animation: loading 3s infinite ease-in-out;
}

.active {
    background-color: var(--main-element-color);
    padding: .5rem;
}

@keyframes loading {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .3;
    }
}

@media(max-width: 767px) {
    .page {
        font-size: 1rem;
        width: .8rem;
        height: .8rem;
        padding: .9rem !important;
        margin: .1rem;
    }

    .arrow {
        width: 1.5rem !important;
        height: auto;
        padding: .5rem !important;
    }
}