.search_parent {
    display: flex;
    align-items: center;
}

.components_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: var(--main-card-color);
    border-radius: 10px;
    padding: .6rem;

    gap: .5rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.select_take {
    width: 7rem;
}

.search {
    background-color: var(--main-card-color);
    border-radius: 10px 0 0 10px;
    border: 1px var(--main-element-color) solid;
    height: 2.4rem;
    color: var(--main-text-color);
    font-size: 1rem;
    padding: .5rem;
    box-sizing: border-box;
    overflow: visible;
    outline: none;
    transition: border .15s;
}

.search:focus {
    border: 1px var(--focus-color) solid;
}

.search:focus+.search_loop {
    border: 1px var(--focus-color) solid;
    border-left: none;
}

.search_loop {
    background-color: var(--main-card-color);
    border-radius: 0 10px 10px 0;
    border: 1px var(--main-element-color) solid;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    border-left: none;
    cursor: pointer;

    transition: background-color 150ms, border .15s;
}

.search_loop:hover {
    background-color: var(--main-element-color);
}

.search_loop_icon {
    width: 1.3rem;
}

.search::placeholder {
    font-size: .9rem;
}

.take {
    margin: 0;
    margin-right: .7rem;
    font-weight: 600;
}

.select_sortir {
    width: 13rem;
}


@media(max-width: 767px) {
    .container {
        justify-content: flex-start;
    }

    .parent {
        align-items: stretch;
    }

}