.track {
    width: 0.5rem;
    border-radius: 5px;
    border: 1px var(--main-element-color) solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .5rem;
    margin-right: .5rem;
}

.thumb {
    background-image: url('../resources/pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 24px;
    height: 16px;
    position: relative;
    z-index: 11;
    border-radius: 3px;
    transition: top 50ms;
    cursor: grab;
}

.thumb:active {
    cursor: grabbing;
}