.main {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: .5rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: grid;
    color: var(--main-text-color);
    /*grid-template-columns: minmax(0, 400px) 1fr;
    grid-auto-rows: max-content;*/
    gap: 1rem;
}

.filters {
    max-width: 300px;
    background-color: var(--main-card-color);
    padding: 1rem;
    border-radius: 15px;
}

.filters h2 {
    margin: 0;
    font-size: 120%;
}

.right {
    background-color: var(--main-card-color);
    padding: 1rem;
    border-radius: 15px;
}

.skins_container {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: max-content;
}

.skin {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    box-shadow: var(--main-shadow-color) 0 2px 5px 0px;
    user-select: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border: 1px var(--main-element-color) solid;
    box-sizing: border-box;
}

.skin_descr {
    background-color: var(--main-card-color);
    border-radius: 0 0 15px 15px;
    padding: 1rem;
    position: relative;
    top: -15px;
    z-index: 1;
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px var(--main-element-color) solid;
}

.star {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
}

.star_container {
    display: flex;
    align-items: center;
}

.star_count {
    font-weight: 700;
    color: var(--main-text-color);
}

.header {
    margin: 0;
    margin-top: .5rem;
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    overflow-wrap: anywhere;
}

.header:hover {
    text-decoration: underline;
}

.username {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: var(--main-text-color);
    margin-top: 1rem;
    text-decoration: none;
}

.username:hover {
    text-decoration: underline;
}

.username_private:hover {
    text-decoration: none;
}

.description {
    margin: 0;
    color: var(--main-text-color);
    overflow-wrap: anywhere;
}

.creation_date {
    margin: 0;
    color: var(--main-text-color);
}

.category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-element-color);
    padding: .1rem .2rem .1rem .2rem;
    border-radius: 5px;
    border: 1px var(--category-color) solid;
    flex-grow: 0;
    flex-shrink: 0;

    transition: border .15s;
}

.category p {
    margin: 0;
    margin-left: .1rem;
    color: var(--main-text-color);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: .5rem;
}

.enabled_category {
    border: 1px #17c43d solid;
}

.hoverable {
    cursor: pointer;
    user-select: none;
}

.hoverable:hover {
    border: 1px var(--main-element-color) solid;
}

.enabled_category:hover {
    border: 1px rgb(15, 133, 41) solid;
}

.loading {
    width: 100%;
    animation: loading 3s infinite ease-in-out;
}

.head_container {
    position: absolute;
    display: flex;
    z-index: 3;
    padding: .3rem;
    width: 300px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@keyframes loading {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .3;
    }
}

@media(max-width: 767px) {
    .skins_container {
        justify-content: center;
    }

}