.main{
    display: inline-flex;
    flex-direction: column;
}

.settings_container{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #eeeeee;
    box-shadow: -23px 0px 15px 0px rgba(255, 255, 255, 0.199);
    width: 25%;
    height: 100%;
}

.render_canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.itemContent{
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
.chevron {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }
  
.itemBtnExpanded .chevron {
    transform: rotate(180deg);
}

.itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    color: #000000;
    background-color: transparent;
    border: none;
}

.item {
    border-bottom: 1px solid #ccc;
}

.main_settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.import_skin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error_label{
    font-size: 80%;
    color: #c70000;
    margin: 0;
    margin-bottom: 5px;
    display: none;
}

.input_file{
    padding: 10%;
    cursor: pointer;
    border: 2px #b1b1b1 dashed;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.nickname{
    border: none;
    border: 1px #b1b1b1 solid;
    padding: 5px;
    border-radius: 5px;
}

.original_canvas{
    display: none;
}

.result_skin_canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.position{
    writing-mode: vertical-lr;
    appearance: none;
}

.position::-webkit-slider-runnable-track{
    border: 1px #949494 solid;
    width: 0.5rem;
    border-radius: 5px;
}

.position::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-image: url('pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -9px;
    touch-action: none;
  }

.color_button{
    border: 1px #b1b1b1 solid;
    border-radius: 5px;
    display: block;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 5px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.styles_main{
    padding-left: 1rem;
    padding-right: 1rem;
}

.color_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
}


@media(max-width: 767px){

    .render_canvas{
        position: relative;
        width: 100%;
    }
    .settings_container{
        position: relative;
        width: 100%;
        box-shadow: 0px -23px 15px 0px rgba(255, 255, 255, 0.199);
        z-index: 1;
    }
    .chevron{
        margin-right: 5px;
    }
}