.body {
    position: fixed;
    inset: 0;
    color: var(--main-text-color);
    animation: Load .5s;
}

.main {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.circle {
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-color: #03d4df;
    position: absolute;
    border-radius: 50%;
    filter: blur(130px);
    transition: top 3s cubic-bezier(0.32, 0.01, 0.68, 1);
    left: 40%;
    top: 40%;
    transform-origin: center;

    animation: move_circle 3s forwards ease-in-out;
}

.circle_2 {
    left: 60%;
    top: 60%;
    background-color: #00ADB5;

    animation: move_circle 3s reverse forwards ease-in-out;
}

@keyframes move_circle {
    0% {
        top: 40%;
    }

    100% {
        top: 60%
    }
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
    padding: .6rem;
    border: 2px var(--main-element-color) dashed;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--main-card-color);
    transition: border 150ms;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

.link:hover {
    border: 2px rgba(12, 247, 215) dashed;
}

@keyframes Load {
    0% {
        transform: translateY(100px) scale(.8);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: translateY(0px) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}


@media(max-width: 767px) {
    .circle {
        width: 100px;
        height: 100px;
        transform: translate(-50%, -50%);
        filter: blur(100px);
    }
}