.main {
    flex-direction: column;
    display: flex;
    transition: opacity 200ms, transform 200ms;
    width: 100%;
    align-items: stretch;
    gap: 1rem;
}

.container {
    flex-direction: column;
    background-color: var(--main-card-color);
    border-radius: 15px;
    padding: 1rem;
    color: var(--main-text-color);
    box-sizing: border-box;
    gap: 1rem;
    display: flex;
    align-items: stretch;
}

.container img {
    image-rendering: pixelated;
    border-radius: 1.1rem;
}

.head_container {
    display: flex;
    align-items: center;
}

.head_container p {
    margin: 0;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
}

.name_container {
    margin-left: .5rem;
}

.uuid {
    color: gray;
    font-size: .8rem;
}

.container h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.code_input {
    background-color: var(--main-card-color);
    border-radius: 10px 0 0 10px;
    border: 1px var(--main-element-color) solid;
    height: 2.4rem;
    color: var(--main-text-color);
    font-size: 1rem;
    padding: .5rem;
    box-sizing: border-box;
    overflow: visible;
    outline: none;
    width: 12.5rem;
    transition: border 150ms;
}

.code_send {
    color: var(--main-text-color);
    background-color: var(--main-card-color);
    border-radius: 0 10px 10px 0;
    border: 1px var(--main-element-color) solid;
    height: 2.4rem;

    box-sizing: border-box;

    border-left: none;
    cursor: pointer;

    transition: background-color 150ms, border 150ms;
    font-weight: 500;
}

.code_send:hover {
    background-color: var(--main-element-color);
}

.code_input:focus {
    border: 1px var(--focus-color) solid;
}

.code_input:focus+.code_send {
    border: 1px var(--focus-color) solid;
    border-left: none;
}

.code_container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.unlink {
    color: var(--main-text-color);
    background-color: var(--main-card-color);
    border-radius: 10px;
    border: 1px var(--main-element-color) solid;
    height: 2.4rem;

    box-sizing: border-box;
    cursor: pointer;

    transition: background-color 150ms, border 150ms;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.unlink:hover {
    background-color: var(--main-element-color);
}

.discord_avatar {
    width: 64px;
    height: 64px;
}

.discord_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.discord_name_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discord_name_container h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    overflow-wrap: anywhere;
}

.discord_name_container p {
    margin: 0;
    color: gray;
    font-size: .8rem;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 650px) {
    .container {
        width: auto;
        min-width: 300px;
    }

    .head_container p {
        overflow-wrap: anywhere;
    }
}