.parent {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.session {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    border: 1px var(--main-element-color) solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.header p {
    margin: 0;
    font-size: .8rem;
    color: gray;
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 1rem;
}

.last_accessed {
    margin: 0;
    font-size: .9rem;
}

.button {
    background: none;
    cursor: pointer;
    border: none;
    filter: brightness(.8);
    transition: filter 150ms;
    display: flex;
    padding: 0;
}

.button:hover {
    filter: brightness(1);
}