.main_container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.hidable {
    transition: opacity 200ms, transform 200ms;
    opacity: 0;
    transform: translateY(50px);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-card-color);
    border-radius: 15px;
    padding: 1rem;
    color: var(--main-text-color);
    width: 300px;
    align-items: flex-start;
    box-sizing: border-box;
}

.card img,
.avatar_container {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.card .username {
    margin: 0;
    color: #c9c9c9;
    overflow-wrap: anywhere;
    margin-bottom: 2rem;
}

.card h3 {
    font-size: 1.5em;
    overflow-wrap: anywhere;
    margin: 0;
    margin-top: .5rem;
}

.uid {
    margin: 0;
    font-size: .8rem;
    background-color: var(--main-element-color);
    padding: .3rem;
    border-radius: 5px;
}

@keyframes plshdrs {

    0%,
    50%,
    100% {
        background-color: var(--main-element-color);
    }

    25%,
    75% {
        background-color: var(--main-card-color);
    }
}

.placeholders {
    animation: plshdrs 2s ease-in-out infinite;
}

.joined {
    margin: 0;
    margin-bottom: .5rem;
}

.joined p {
    margin: 0;
}

.side_butt {
    display: flex;
    color: var(--main-text-color);
    align-items: center;
    text-decoration: none;
    padding: .3rem;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 150ms, box-shadow 150ms;
    transform-origin: center center;
    gap: .3rem;
}

.side_butt:hover {
    background-color: var(--main-element-color);
}

.side_butt img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: sticky;
    top: 1rem;
}

.skins_container {
    transition: opacity 200ms, transform 200ms;
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: max-content;
    width: 100%;
}

.skins_container_2 {
    transition: opacity 200ms, transform 200ms;
    width: 100%;
}

.active {
    background-color: var(--main-element-color);
}

.animated {
    transition: opacity 200ms, transform 200ms;
}

.background_image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.card_improved {
    background: none;
    backdrop-filter: blur(7px);
}

.background_image_container {
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}


.background_image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.card_improved {
    background: none;
    backdrop-filter: blur(7px);
}

.background_image_container {
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}


.background_image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.card_improved {
    background: none;
    backdrop-filter: blur(7px);
}

.background_image_container {
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.discord_id {
    text-decoration: none;
}

.discord_id:hover {
    text-decoration: underline;
}


@media(max-width: 650px) {
    .main {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        width: auto;
        min-width: 300px;
    }

    .skins_container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

    .skins_container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }

    .side {
        position: relative;
        top: 0;
    }
}