.parameters_cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .8rem;
}

.parameters {
    flex: 1 1 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--main-card-color);
}

.parameters_pos_body {
    display: flex;
    flex-direction: row;
}

.parameters_pos_body hr {
    margin: 0;
    margin-left: .85rem;
    margin-right: .85rem;
}

.parameters h3 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    gap: .3rem;
}

.bandage_height_span {
    writing-mode: sideways-lr;
    text-orientation: mixed;
    text-align: center;

    margin-right: .3rem;
    opacity: .8;
}

.parameters_pos_selects {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.parameters_pos_selects span {
    font-size: .9rem;
    opacity: .8;
}

.parameters_pos_selects_container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.parameters_view_body {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.clear_pixels_cont {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.colorable_p {
    margin: 0;
    margin-left: .5rem;
}

.colorable_selector_cont {
    display: flex;
    align-items: center;
}

.colorable_cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: .5rem;
}

.star_container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    z-index: 5;
    padding: .3rem;
    display: flex;
}

.skin_load_result_container {
    display: flex;
    justify-content: center;
}

.skin_load_header {
    margin: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.main {
    margin-left: 2rem;
    margin-right: 2rem;
    transition: transform 200ms, opacity 200ms;
}

.main_container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.render_canvas {
    border-radius: 10px;
    position: relative;
    z-index: 4;
    width: 400px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;

    background: url('/static/background_big.png');
    background-repeat: repeat;
    background-size: contain;
}

.title {
    margin: 0;
    overflow-wrap: anywhere;
}

.edit_icon {
    width: 1.3rem;
    height: 1.3rem;
    transform: scale(1);
    transition: 150ms transform;
    display: none;
}

.title_editable {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.title_editable .edit_icon {
    display: block;
    cursor: pointer;
}

.edit_icon:hover {
    transform: scale(1.1);
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.description {
    margin: 0;
    margin-bottom: 1rem;
    overflow-wrap: anywhere;
}

.author_cont {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.render_footer {
    width: 100%;
    background-color: var(--main-card-color);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    z-index: 3;
    padding-top: calc(1rem + 10px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skin_parent {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.skin_load {
    border: none;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.2rem;

    padding: .2rem;
    background-color: var(--main-element-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 250ms;
    height: 2.5rem;
}

.skin_load:hover {
    background-color: var(--hr-color);
}

.skin_load img {
    margin-right: .1rem;
    width: 1.8rem;
}

.skin_load_base {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 150ms, transform 150ms;
}


@keyframes skinLoad {
    0% {
        transform: translateY(100px) scale(.8);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: translateY(0px) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
}

.skin_load_container {
    background-color: var(--main-card-color);
    border-radius: 10px;
    width: 50%;
    /*animation: skinLoad 250ms;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px var(--main-element-color) solid;
    gap: .5rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.disabled_load {
    cursor: default;
}

.disabled_load:hover {
    background-color: var(--main-element-color);
}

.tags_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.skin_drop {
    border: 2px #576074 dashed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.hidable span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skin_drop input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.check_notification {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 1px yellow solid;
    box-sizing: border-box;
    margin-bottom: 1rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    border-color: red;
    background-color: rgba(255, 0, 0, .13);
}

.check_notification h3 {
    margin: 0;
}

.check_notification p {
    margin: 0;
    margin-top: .3rem;
}

.textarea {
    resize: vertical;
    background-color: var(--main-element-color);
    border: var(--main-element-color) 1px solid;
    outline: none;
    transition: border 100ms;
    border-radius: 5px;
    font-family: inherit;
}

.textarea:focus {
    border: 1px var(--focus-color) solid;
}

.deleteButton {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    background-color: rgb(175, 22, 22);
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover .binUp {
    top: -2px;
}

.binUp {
    transition: top ease-in-out 0.3s;
    position: relative;
    top: 1%;
}

.binDown {
    position: relative;
    top: 0;
}

.archiveButton {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 22, 22);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.archiveButton svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: transform 150ms;
}

.archiveButton:hover svg {
    transform: scale(1.05);
}

.bandage_raw_menu {
    position: absolute;
    transform-origin: top;
    transition: opacity 150ms, transform 150ms;
    width: 100%;
    background-color: var(--category-color);
    padding: .6rem;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.menu_exit_bandage_active {
    opacity: 0;
    transform: scaleY(0.5);
    transition: opacity 150ms, transform 150ms;
}

.menu_enter_bandage {
    opacity: 0;
    transform: scaleY(0.5);
}

.adjust_color {
    height: 27px;
    background-color: var(--main-element-color);
    transition: background-color 250ms;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .85rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.adjust_color:hover {
    background-color: var(--hr-color);
}

.delete_cont {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .4rem;
    margin-top: 1rem;
    margin-bottom: .4rem;
}

.archive_cont {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.views {
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .15rem;
    opacity: .5;
    width: 100%;
}

@media(max-width: 925px) {
    .main_container {
        flex-direction: column;
        align-items: center;
    }

    .render_canvas {
        width: 100%;
        height: 400px;
    }

    .skin_parent {
        width: 100%;
        align-items: center;
    }

    .skin_load_container {
        width: 90%;
    }
}