.main {
    margin-left: 2rem;
    margin-right: 2rem;
}

.main_container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.main_container p {
    font-size: 1.2rem;
}

.main_container a {
    font-weight: 600;
}