.main{
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: color 0.1s ease-in-out;
}

.settings_container{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -20px 0px 15px 0px rgba(255, 255, 255, 0.199);
    background-color: #eeeeee;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.render_canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.itemContent{
    transition: height 0.25s cubic-bezier(0, 0, 0, 1), opacity 0.25s cubic-bezier(0, 0, 0, 1);
    opacity: 1;
}

.itemContent.not_enter{
    opacity: 0;
}

.chevron {
    margin-left: auto;
    filter: invert(0%);
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1), filter 0.2s ease-in-out;
}
  
.itemBtnExpanded .chevron {
    transform: rotate(180deg);
}

.itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    background-color: transparent;
    border: none;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    color: #000000;
    transition: color 0.2s ease-in-out;
}

.item {
    border-bottom: 1px solid #ccc;
    transition: border-bottom 0.1s ease-in-out;
}

.main_settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.import_skin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error_label{
    font-size: 80%;
    color: #c70000;
    margin: 0;
    margin-bottom: 5px;
    display: none;
}

.input_file{
    box-sizing: border-box;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    border: 2px #b1b1b1 dashed;
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    transition: border 0.25s linear;
}

.input_file:hover{
    border: 2px #b1b1b1 solid;
}

.hidable{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input_file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.nickname{
    border: none;
    border: 1px #b1b1b1 solid;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.clear_skin{
    position: relative;
    left: 0;
    top: 0;
    border: 1px #949494 solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
}

.clear_skin:hover{
    background-color: #949494;
    color: #eeeeee;
}

.hidable_canvas{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;
}

.hidable_canvas:hover{
    border: 2px #b1b1b1 dashed;
}

.position{
    writing-mode: vertical-lr;
    appearance: none;
    margin-right: 1rem;
}

.position::-webkit-slider-runnable-track{
    border: 1px #949494 solid;
    width: 0.5rem;
    border-radius: 5px;
}

.position::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-image: url('../../pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -9px;
    touch-action: none;
  }


.position::-moz-slider-runnable-track{
    border: 1px #949494 solid;
    width: 0.5rem;
    border-radius: 5px;
}

.position::-moz-slider-thumb {
    appearance: none;
    width: 24px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-image: url('../../pepe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: -9px;
    touch-action: none;
}

.color_button{
    border: 1px #b1b1b1 solid;
    border-radius: 5px;
    display: block;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-color: #ffffff;
    margin-left: 5px;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.styles_main{
    padding-left: 1rem;
    padding-right: 1rem;
}

.color_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 0;
}

.type_selector{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layers_div{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    margin-bottom: 0.5rem;
}

.sidebar{
    display: flex;
    margin-left: 4px;
}

.custom_pepe{
    display: none;
}

.instruction{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.instruction a{
    color: #000000;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
    cursor: pointer;
    font-size: 1rem;
    font-weight: 380;
}

.instruction.dark a{
    color: #eeeeee;
}


.main.dark{
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

.settings_container.dark{
    background-color: #0f0f0f;
    box-shadow: -20px 0px 15px 0px rgba(24, 24, 24, 0.199);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.itemBtn.dark{
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

.item.dark {
    border-bottom: 1px solid #505050;
}

.chevron.dark { 
    filter: invert(100%);
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1), filter 0.2s ease-in-out;;
}

.theme_swapper{
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #eeeeee;
    padding: 0;
    transition: background-color 0.2s ease-in-out;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_swapper img{
    width: 1.3rem;
    margin: 0.4rem;
    filter: invert(100%);
    transition: filter 0.2s ease-in-out;
}

.theme_swapper:hover{
    background-color: #b1b1b1;
}

.theme_swapper.dark{
    background-color:#0f0f0f;
}

.theme_swapper.dark img{
    width: 1.3rem;
    filter: invert(0%);
    transition: filter 0.2s ease-in-out, width 0.25s ease-in-out;
}

.theme_swapper:active img{
    width: 1.1rem;
}

.theme_swapper.dark:hover{
    background-color: #464646;
}

.clear_skin.dark{
    background-color: #0f0f0f;

}

.clear_skin.dark:hover{
    background-color: #272727;
}

@media(max-width: 767px){

    .render_canvas{
        position: relative;
        width: 100%;
    }
    .settings_container{
        position: relative;
        width: 100%;
        box-shadow: 0px -23px 15px 0px rgba(255, 255, 255, 0.199);
        z-index: 1;
    }
    .settings_container.dark{
        box-shadow: 0px -23px 15px 0px rgba(24, 24, 24, 0.199);
    }
    .chevron{
        margin-right: 5px;
    }
}