.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
}

.img {
    width: 60px;
    position: absolute;
    offset-path: path('M 0 0 C -636 -550 -636 550 0 0 C 636 -550 636 550 0 0');
    animation: anim 40s infinite linear;
    offset-rotate: auto 90deg;
    offset-anchor: center center;
    filter: brightness(0.7);
    image-rendering: pixelated;
    user-select: none;

    cursor: pointer;
}

.img:nth-child(1) {
    animation-delay: 0s;
}

.img:nth-child(2) {
    animation-delay: -4s;
}

.img:nth-child(3) {
    animation-delay: -8s;
}

.img:nth-child(4) {
    animation-delay: -12s;
}

.img:nth-child(5) {
    animation-delay: -16s;
}

.img:nth-child(6) {
    animation-delay: -20s;
}

.img:nth-child(7) {
    animation-delay: -24s;
}

.img:nth-child(8) {
    animation-delay: -28s;
}

.img:nth-child(9) {
    animation-delay: -32s;
}

.img:nth-child(10) {
    animation-delay: -36s;
}

@keyframes anim {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

@keyframes in_animation {
    0% {
        transform: translateY(100px) scale(.9);
        filter: blur(5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
        filter: blur(0);
    }

}

.path {
    filter: drop-shadow(0px 0px 8px rgba(12, 247, 215));
}


.svg {
    overflow: visible;
}

.p {
    color: var(--main-text-color);
    font-size: 3rem;
    margin: 0;
    font-weight: 500;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    animation: in_animation .5s ease-out;
}

.container p {
    user-select: none;
}

.bandages {
    position: absolute;
}

.inf {
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0px 0px 8px rgba(12, 247, 215));
    margin-right: .5rem;
}

.one {
    filter: drop-shadow(0px 0px 8px rgba(12, 247, 215));
    color: rgba(45, 212, 191);
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
    padding: .6rem;
    border: 2px var(--main-element-color) dashed;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--main-card-color);
    transition: border 150ms;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
}

.link:hover {
    border: 2px rgba(12, 247, 215) dashed;
}

.api_unavailable {
    max-width: 400px;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgba(41, 41, 41, 0.8);
    border-radius: 5px;
    border: 1px yellow solid;
    padding: .8rem;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;

    width: calc(100% - 2rem);
}

.footer p {
    color: gray;
    margin: 0;
    font-size: .8rem;
}

.collaborate {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.shape_name {
    transform: translateX(100%);
    transition: transform 250ms;
    pointer-events: none;
    color: white !important;
}

.shape_box {
    overflow: hidden;
    pointer-events: none;
}

.shape:hover .shape_name {
    transform: translateX(0%);
}

@media(max-width: 1057px) {
    .svg {
        display: none;
    }

    .bandages {
        display: none;
    }
}