.main {
    margin-left: 2rem;
    margin-right: 2rem;
}

.central_panel {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.skinview {
    width: 400px;
    height: 500px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    border: 1px var(--main-element-color) solid;
    box-sizing: border-box;
    overflow: hidden;
}

.render_footer {
    width: 100%;
    background-color: var(--main-card-color);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -10px;
    border: 1px var(--main-element-color) solid;
    z-index: 0;
    padding-top: calc(1rem + 10px);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.skin_parent {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.editor_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.skin_drop {
    border: 2px var(--main-element-color) dashed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 250ms;
}

.hidable span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skin_drop input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.textarea {
    resize: vertical;
    background-color: var(--main-element-color);
    border: var(--main-element-color) 1px solid;
    outline: none;
    transition: border 100ms;
    border-radius: 5px;
    font-family: inherit;
}

.textarea:focus {
    border: 1px var(--focus-color) solid;
}

.skin_load {
    border: none;
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.1rem;

    padding: .4rem;
    background-color: var(--main-element-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    cursor: pointer;
    transition: background-color 250ms;
}

.skin_load:hover {
    background-color: var(--hr-color);
}

.skin_load img {
    margin-right: .1rem;
    width: 1.8rem;
}

@media(max-width: 925px) {
    .central_panel {
        flex-direction: column;
        align-items: center;
    }

    .skinview {
        width: 300px;
        height: 400px;
    }

    .skin_parent {
        align-items: center;
        width: 300px;
    }
}