.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--hr-color);
    border-radius: 12px;

    padding: 6px;
    background-color: color-mix(in hsl, var(--main-bg-color), white 3.1%);
}

.date_cont {
    font-size: .9rem;
    opacity: .7;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}

.avatars {
    border: 1px solid var(--hr-color);
    border-radius: 9999px;
    position: relative;
}

.avatars_container {
    display: flex;
    position: relative;
    z-index: 2;
}

.avatars_plus {
    width: 26px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    border-radius: 9999px;

    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    padding: 12px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    color: var(--main-text-color);
    text-decoration: none;

    margin-top: .3rem;
}

.title:hover {
    text-decoration: underline;
}

.description {
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 15px;
    opacity: .6;
}

.description p {
    margin: 0;
}

.read_more {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-element-color);
    border-radius: 6px;
    font-size: 14px;

    padding: .5rem;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    transition: background 150ms, color 150ms;
}

.read_more:hover {
    color: var(--main-text-color);
    background-color: color-mix(in srgb, var(--main-element-color) 95%, white);
}

.authors_category_container {
    display: flex;
    align-items: stretch;
}

.category_container {
    font-size: .80rem;
    position: relative;
    z-index: 1;
    margin: 0;
    background-color: var(--main-element-color);

    display: flex;
    align-items: center;
    padding-right: .6rem;
    padding-left: calc(13px + .2rem);
    border-radius: 0 99px 99px 0;
}


@keyframes placeholder_anim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}