.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    color: var(--main-text-color);

    padding-right: 2rem;
    padding-left: 2rem;
}


.back_to_blog {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    opacity: .5;
    font-weight: 300;
    text-decoration: none;
    align-items: center;
    color: var(--main-text-color) !important;

    transition: gap 250ms, margin-left 250ms !important;
}

.back_to_blog:hover {
    gap: .1rem;
    margin-left: .4rem;
}

.back_to_blog_container {
    margin-top: .6rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: .75rem;
    gap: .75rem;
    justify-content: center;
    width: 100%;
}

.cont p {
    margin: 0;
}

.posters_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    text-decoration: none;
}

.posters_container:hover p {
    text-decoration: underline;
}

.avatars {
    border-radius: 50%;
    border: 1px solid var(--hr-color);
}

.posters_container p {
    font-weight: 500;
    opacity: .8;
}

.posted_by {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.posted_by p {
    margin: 0;
}

.posted_by_cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    row-gap: .4rem;
    flex-wrap: wrap;
}

.common_anim {
    transition: opacity 400ms,
        transform 400ms;
}

.enter {
    opacity: 0;
    transform: translateY(50px)
}

.exit_active {
    opacity: 0;
    transform: translateY(50px)
}

.in_anim {
    animation: initial_anim 400ms forwards;
}

@keyframes initial_anim {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: none;
        opacity: 1;
    }
}

.description {
    margin-bottom: 1rem;
    margin-top: .5rem;
    opacity: 0.7;
}

.description p {
    margin: 0;
}

.code {
    background-color: var(--main-card-color);
    padding: .1rem .3rem;

    border: 1px var(--hr-color) solid;
    border-radius: 5px;
}