.container {
    position: relative;
    color: var(--main-text-color);
    background-color: var(--main-element-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4rem;
    flex-wrap: wrap;
    padding: .4rem;
    border-radius: 5px;
}

.container svg {
    cursor: pointer;
}