.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    transition: opacity 200ms, transform 200ms;
    gap: .5rem;
}

.container h1 {
    margin: 0;
    font-size: 1.5rem;
}

.date_container {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.date_container h1 {
    margin: 0;
    font-size: 1.2rem;
}

.date_container p {
    margin: 0;
    font-size: .8rem;
    opacity: .7;
}

.notification_container {
    background-color: var(--main-card-color);
    border: 1px var(--main-element-color) solid;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.notification_container p {
    margin: 0;
}

.content a {
    color: var(--main-action-color);
    transition: color 150ms;
}

.content a:hover {
    color: color-mix(in srgb, var(--main-action-color) 80%, white 20%);
}

.pass {
    border-color: #4493F8;
    background-color: #4493f84a;
}

.denied {
    border-color: #F85149;
    background-color: #F851494a;
}