.main_container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.hidable {
    animation: show 200ms;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-card-color);
    padding: 1rem;
    color: var(--avatar-text-color);
    width: 300px;
    align-items: flex-start;
    box-sizing: border-box;
}

.subscribe_container {
    display: flex;
}

.subscribe_count {
    background-color: var(--main-element-color);
    padding: .5rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--category-color);

    display: flex;
    align-items: center;
    gap: .1rem;
}

.subscribe_button {
    background-color: var(--main-element-color);
    padding: .5rem;
    border: 1px solid var(--category-color);
    border-radius: 0 10px 10px 0;
    font-family: inherit;

    font-size: 1rem;

    width: 100%;
    cursor: pointer;

    transition: background-color 150ms;
}

.subscribe_button:hover {
    background-color: var(--dark-hover);
}

.avatar_container {
    width: 7rem;
    height: 7rem;
    position: relative;
}

.avatar_container img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

    position: absolute;
}

.blurred_avatar {
    filter: blur(20px);
}

.card .username {
    margin: 0;
    opacity: .8;
    overflow-wrap: anywhere;
    margin-bottom: .2rem;
}

.card h3 {
    font-size: 1.5em;
    overflow-wrap: anywhere;
    margin: 0;
    margin-top: .5rem;
}

.uid {
    color: var(--main-text-color);
    margin: 0;
    font-size: .8rem;
    background-color: var(--main-element-color);
    padding: .3rem;
    border-radius: 5px;
}

.joined {
    margin: 0;
    margin-bottom: .5rem;
}

.joined p {
    margin: 0;
}

.side_butt {
    display: flex;
    color: var(--main-text-color);
    align-items: center;
    text-decoration: none;
    padding: .3rem;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 150ms, box-shadow 150ms;
    transform-origin: center center;
    gap: .3rem;
}

.side_butt:hover {
    background-color: var(--main-element-color);
}

.side_butt img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: sticky;
    top: 1rem;
}

.skins_container_2 {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.active {
    background-color: var(--main-element-color);
}

.animated {
    transition: opacity 200ms, transform 200ms;
}

.card_improved {
    background: none;
    backdrop-filter: blur(7px);
    border-radius: 10px 10px 0 0;
}

.background_image_container {
    position: relative;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.background_image_container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--avatar-url) center/cover;
    border-radius: 10px;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.background_image_container>* {
    position: relative;
    z-index: 1;
}

.not_a_background_image_container {
    display: contents;
}

.total_stars {
    display: flex;
    align-items: center;
    gap: .15rem;
    margin: 0;
    margin-bottom: .3rem;

    margin-top: 1rem;
}

.round_container {
    border-radius: 10px;
    box-sizing: border-box;
}


@media(max-width: 730px) {
    .main {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        width: auto;
        min-width: 300px;
    }

    .side {
        position: relative;
        top: 0;
    }
}