.parent {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-content: center;
    gap: .75rem;
    width: 100%;
    display: grid;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .75rem;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;

    background-color: var(--main-card-color);
    border-radius: 10px;
}

.container_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.name_container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.name_container h3 {
    color: var(--main-text-color);
    margin: 0;
}

.name_container p {
    margin: 0;
    font-size: .85rem;
    opacity: .7;
    font-style: italic;
}

.container img {
    border-radius: 5px;
}

.name_container a {
    text-decoration: none;
}

.name_container a:hover {
    text-decoration: underline;
}

.unsubscribe {
    background-color: var(--main-element-color);
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition: background-color 150ms;
}

.unsubscribe:hover {
    background-color: oklch(63.7% 0.237 25.331);
}

.unsubscribe_text {
    font-weight: 500;
    display: none;
}

@media(max-width: 450px) {
    .parent {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .unsubscribe {
        width: 100%;
    }

    .unsubscribe_text {
        display: block;
    }
}