.extra_params {
    display: flex;
    gap: 3px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 1px solid var(--main-element-color);

    position: relative;

    background-color: var(--main-card-color) !important;
    background-size: 40% !important;
    background-repeat: repeat !important;
    background: var(--card-background-image);

    box-sizing: border-box;
}

.skin {
    border-radius: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}


.gradient_background {
    border: 1px solid var(--main-element-color);
    box-shadow: var(--main-shadow-color) 0 0px 5px 0px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--shadow-color) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: background-size 200ms ease-in-out;
}

.gradient_background:hover {
    background-size: 100% 130%;
}

.about {
    padding: 1rem;
    padding-top: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title {
    margin: .5rem 0 0;
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
    overflow-wrap: anywhere;
}

.title:hover {
    text-decoration: underline;
}

.description {
    margin: 0;
    margin-top: .3rem;
    color: #d8d8d8;
    overflow-wrap: anywhere;
}

.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 4px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: .5rem;

    mask-size: 100% 100%;
    mask-image: linear-gradient(90deg,
            black 85%,
            transparent 100%);
}

.username {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: var(--main-text-color);
    margin-top: 1rem;
    text-decoration: none;
}

.username:hover {
    text-decoration: underline;
}

.username_private:hover {
    text-decoration: none;
}

.creation_date {
    margin: 0;
    color: gray;
}

.head_container {
    position: absolute;
    display: flex;
    z-index: 2;
    padding: .3rem;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.star_container {
    display: flex;
    align-items: center;
    gap: .3rem;

    background-color: var(--main-element-color);
    border: 1px color-mix(in srgb, var(--main-element-color), white 15%) solid;
    padding: 3px 5px;
    border-radius: calc(10px - .3rem);

    cursor: pointer;

    transform: scale(.9);
    transform-origin: top left;
}

.star_count {
    font-weight: 700;
    color: var(--main-text-color);
    user-select: none;
}

.star {
    width: 1.5rem;
    height: 1.5rem;
}

.create_card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--main-element-color);
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    min-height: 250px;
    margin-top: 96px;
    background-size: var(--background-size) !important;
}

.create_card h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .4rem;
}

.create_card svg {
    transition: transform 350ms;
    border: 2px solid var(--category-color);
    background-color: var(--main-element-color);
    border-radius: 10px;
    padding: 1rem;
}

.create_card svg:hover {
    transform: scale(.95);
}

.create_card p {
    opacity: .7;
    margin: 0;
    text-align: center;
}

.peepo {
    position: absolute;
    cursor: grab;
    left: 0;
    top: -96px;
}

.peepo:active {
    cursor: grabbing;
}

@media (max-width: 730px) {
    .star_container {
        transform: none;
    }
}