.header {
    margin: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem
}

.type {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.issuer {
    opacity: .5;
    font-size: .8rem;
    text-align: right;
    font-weight: normal;
}