.main_container {
    position: fixed;
    inset: 0;
    display: flex;

    margin-left: 2rem;
    margin-right: 2rem;
}

.background {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at 35% 45%,
            rgba(0, 191, 166, 0.12) 0%,
            rgba(0, 191, 166, 0.004) 60%),
        radial-gradient(circle at 35% 45%,
            #0a0f0d 0%,
            #050807 100%);
    background-blend-mode: screen, normal;
    color: white;
}

.background_icons {
    position: fixed;
    inset: 0;
    background-image: url('/static/backgrounds/background.svg');
    background-repeat: repeat;
    background-size: 960px;

    opacity: .3;
}

.background_icons_blur {
    filter: blur(5px);
}

.h1 {
    font-size: 2.7rem;
    text-align: left;

    background: #b9b9b9;
    background: linear-gradient(to top, #b9b9b9 0%, var(--main-text-color) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
}

.pepeland {
    background: #2dd4bf;
    background: linear-gradient(to top, #2dd4bf 0%, #b8e2dd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #d6d6d6;

    margin: 0;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: auto;
    max-width: 1280px;
    max-height: 549px;
}

.texts {
    max-width: 50%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: .8rem;

    animation: texts_show .8s forwards;
}

@keyframes texts_show {
    0% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        filter: none;
    }
}

.image_container {
    position: relative;
    top: -4rem;

    width: auto;
    margin-right: 1.5%;

    transition: opacity 1.21s;
}


@keyframes bandage_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes shade_show {
    0% {
        width: 0px;
    }

    100% {
        width: 150px;
    }
}


.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: .8rem;
}

.links a {
    text-decoration: none;
    font-family: inherit;
    text-wrap: nowrap;
    box-sizing: border-box;

    padding: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 8px;
    background-color: var(--main-card-color);
    border: 1px solid var(--main-element-color);

    transition: background-color 250ms;
}

.links a:hover {
    background-color: var(--main-element-color);
}

.links_workshop {
    background-color: var(--main-text-color) !important;
    color: var(--main-bg-color);
    transition: filter 250ms !important;
}

.links_workshop:hover {
    filter: brightness(.85);
}

.shadow {
    position: absolute;
    left: 51%;
    bottom: 3rem;

    transform: translateX(-50%);

    fill: #00000050;
    filter: blur(2px);
}

.by_andcool {
    opacity: .5;
    margin: 0;
    font-size: .8rem;
    font-weight: 300;

    display: flex;
    gap: .4rem;
    align-items: center;
}

.by_andcool svg {
    height: 1em;
}

.by_andcool a {
    text-decoration: none;
}

.by_andcool a:hover {
    text-decoration: underline;
}

.skin_render {
    position: relative;
    z-index: 5;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer p {
    opacity: .5;
    margin: 0;
    font-size: .8rem;
}

.logo {
    opacity: .5;
}

.nickname_container {
    position: absolute;
    z-index: 6;
    top: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nickname {
    opacity: .8;
    font-size: 1.6rem;
    background-color: color-mix(in hsl, var(--main-element-color), transparent 10%);
    padding: .2rem .5rem .3rem .5rem;
    border-radius: 5px;

    cursor: auto;
    user-select: none;
}

@media(max-width: 1150px) {
    .image_container {
        margin: 0;
        transform: scale(.75);
    }
}

@media(max-width: 850px) {
    .image_container {
        display: none;
    }

    .texts {
        max-width: none;
        margin-top: 0;
    }

    .h1 {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }
}

@media(max-height: 700px) and (min-width: 850px) {
    .main_container {
        position: relative;
    }
}