.main_container {
    position: fixed;
    inset: 0;

    display: flex;

    margin-left: 2rem;
    margin-right: 2rem;
}

.h1 {
    font-size: 2.5rem;
    text-align: left;

    background: #b9b9b9;
    background: linear-gradient(to top, #b9b9b9 0%, var(--main-text-color) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0;
}

.pepeland {
    background: #2dd4bf;
    background: linear-gradient(to top, #2dd4bf 0%, #b8e2dd 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 150px #2dd4bf;
}

.description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #d6d6d6;

    margin: 0;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin: auto;
    max-width: 1280px;
    max-height: 549px;
}

.texts {
    max-width: 40%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.image_container {
    position: relative;
    width: auto;
    margin-right: 9%;
}


@keyframes bandage_show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.left_shade {
    width: 150px;
    aspect-ratio: 1;
    background-color: var(--main-action-color);

    position: absolute;
    left: -2rem;
    bottom: 0;

    transform: translate(-50%, 50%);
    transform-origin: center;
    z-index: -1;

    filter: blur(200px);

    animation: shade_show 1.3s ease-out forwards;
}

.right_shade {
    transform: translate(50%, -50%);
    left: auto;
    bottom: auto;
    top: 50%;
    right: -2rem;
}

@keyframes shade_show {
    0% {
        width: 0px;
    }

    100% {
        width: 150px;
    }
}


.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: .8rem;
}

.links a {
    text-decoration: none;
    font-family: inherit;
    text-wrap: nowrap;
    box-sizing: border-box;

    padding: .7rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 8px;
    background-color: var(--main-card-color);
    border: 1px solid var(--main-element-color);

    transition: background-color 250ms;
}

.links a:hover {
    background-color: var(--main-element-color);
}

.links_workshop {
    background-color: var(--main-text-color) !important;
    color: var(--main-bg-color);
    transition: filter 250ms !important;
}

.links_workshop:hover {
    filter: brightness(.85);
}

.shadow {
    position: absolute;
    left: 51%;
    bottom: 0rem;

    transform: translateX(-50%);

    fill: #00000050;
    filter: blur(2px);
}

.by_andcool {
    opacity: .5;
    margin: 0;
    font-size: .8rem;
    font-weight: 300;
}

.by_andcool svg {
    height: 1em;
}

.by_andcool a {
    text-decoration: none;
}

.by_andcool a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;

    width: calc(100% - 2rem);
}

.footer a {
    color: gray;
}

.footer p {
    color: gray;
    margin: 0;
    font-size: .8rem;
}

.logo {
    filter: brightness(.5);
}

@media(max-width: 850px) {
    .image_container {
        display: none;
    }

    .texts {
        max-width: none;
    }

    .h1 {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }
}